@model Product_Catalog.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Model.CategoryName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div class="col-3">
    
    <div class="form-group pt-2">
        <div class="col d-flex justify-content-between h-25">
            <a class="btn btn-success p-1" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-info p-1" asp-action="Index">Back to List</a>
            <a class="btn btn-primary p-1" asp-action="Index" asp-controller="Home" asp-route-CategoryId="@Model?.Id">ViewProducts</a>

        </div>
    </div>
</div>
